.btnSubmit {
  padding: 8px;
  background-color: #333;
  color: white;
  font-size: large;
  box-shadow: 4px 4px 5px #000000;
  margin: 6px;
}

.btnSubmit:active {
  box-shadow: 0 4px #ffffff;
  transform: translateY(4px);
}
