label {
  display: inline-block;
  width: 65px;
  margin: 4px;
}

.wrapper {
  margin: auto;
  width: 70%;
}

fieldset {
  margin-top: 8px;
}

input[type='text'] {
  padding: 12px;
  border-radius: 6px;
  font-size: large;
  width: 80%;
  display: inline-block;
  border: 1px solid gainsboro;
}

input[type='password'] {
  padding: 12px;
  border-radius: 6px;
  width: 80%;
  display: inline-block;
  font-size: large;
  border: 1px solid gainsboro;
}
