ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul li {
  float: left;
}

a {
  display: block;
  padding: 14px 16px;
  text-align: center;
  color: white;
  text-decoration: none;
}
a:hover {
  background-color: whitesmoke;
  color: #333;
}
